<header class="bg-zinc-900 flex flex-col md:flex-row justify-center text-center p-20 gap-3 md:text-left rounded-xl">
    <div>
        <h1 class="text-5xl font-bold pb-2">Protect Your Password</h1>
        <p class="my-4 text-2xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda,
            doloribus?
        </p>
        <button class="bg-orange-500 px-3 py-2 hover:bg-orange-400">Start Now</button>
    </div>
    <img src="img/umbrella.svg" alt="Demo Image" class="w-80 mt-10 md: m-0" />
</header>
